name: Go Test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.25.5

      - name: Install dependencies
        working-directory: ./swaggo-language-server
        run: go mod tidy

      - name: Run tests
        working-directory: ./swaggo-language-server
        run: go test ./... -v
