name: Release Go Module

permissions:
  contents: write

on:
  push:
    tags:
      - "swaggo-language-server-v*"

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.25.5

      - name: Verify module integrity
        run: |
          cd swaggo-language-server
          go mod tidy
          go mod verify

      - name: Create Release
        run: |
          gh release create ${{github.ref_name}} --generate-notes
        env:
          GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
